$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$success-color: #5cb85c;
$failure-color: #f00;
$white: #fff;

body {
  color: grey;
  font-size: 16px;
}

.btn {
  font-size: 16px;
}

.player-counter {
  margin-left: auto;
  margin-right: auto;
}

.counter {
  font-size: 48px;
}

.counter-box {
  display: flex;
  justify-content: space-around;
}
.modal-title {
  text-align: center;
}
.success {
  background-color: $success-color;
  color: $white;
  padding: 10px;
}

.failure {
  background-color: $failure-color;
  color: $white;
  padding: 10px;

}

.banner {
  font-size: 18px;
  color: $success-color;
  padding: 10px;
  text-align: center
}

h1 {
  text-align: center;
}

.board {
  margin: auto;
  margin-top: 30px;
  width: 450px;
}

.box {
  background-color: white;
  height: 150px;
  text-align: center;
}

.border-bottom {
  border-bottom: solid 4px grey;
}

.border-top {
  border-top: solid 4px grey;
}

.border-right {
  border-right: solid 4px grey;
}

.border-left {
  border-left: solid 4px grey;
}

.token {
  font-size: 96px;
}

.game-button {
  margin: 25px auto;
}

.game-button-container {
  width: 500px;
}

.btn-select-game {
  margin-top: 20px;
}
.your-turn {
  text-align: center;
}

.stat-header {
  text-align: center;
}
.navbar-inverse {
  background-color: #0C2340;
}

.vs {
  margin: 20px;
}

.btn-primary {
  background-color: #0C2340;
}

.btn-primary:hover {
  background-color: #BD3039;
}

.title {
  margin-top: auto;
  margin-bottom: auto;
  width: 5%;
  height: 5%;
}

.title-container {
  display: flex;
  align-content: center;
  justify-content: center;
}
@media(max-width: 414px) {
  .player-counter {
    display: none;
  }
  .game-button-container {
    width: 300px;
  }
  .game-button-main {
    display: none;
  }
  .board {
    margin: auto;
    margin-top: 15px;
    width: 300px;
  }
  .token {
    font-size: 64px;
  }
  .box {
    background-color: white;
    height: 100px;
    text-align: center;
  }
  .counter {
    font-size: 16px;
  }
  .border-bottom {
    border-bottom: solid 1px grey;
  }

  .border-top {
    border-top: solid 1px grey;
  }

  .border-right {
    border-right: solid 1px grey;
  }

  .border-left {
    border-left: solid 1px grey;
  }
}
