$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Playball');

$success-color: #5cb85c;
$failure-color: #f00;
$white: #fff;
$red-sox-blue: #0c2340;
$red-sox-red: #bd3039;
$text-color-grey: #808080;


body {
  color: $text-color-grey;
  font-size: 16px;
}

.btn {
  font-size: 16px;
}

.player-counter {
  margin-left: auto;
  margin-right: auto;
}

.counter {
  font-size: 48px;
}

.counter-box {
  display: flex;
  justify-content: space-around;
}

.modal-title {
  text-align: center;
}

@mixin flash($color) {
  background-color: color;
  color: $white;
  padding: 10px;
}

.success {
  @include flash($success-color)
}

.failure {
  @include flash($failure-color)
}

*:focus {
  outline: none !important;
}

.banner {
  color: $success-color;
  font-size: 24px;
  padding: 10px;
  text-align: center;
}

.playball {
  font-family: 'Playball';
  font-size: 2em;
}

h1 {
  font-size: 36px;
  text-align: center;
}

.landing-subtitle {
  margin-bottom: 30px;
  text-align: center;
}

.board {
  margin: auto;
  margin-top: 30px;
  width: 450px;
}

.box {
  height: 150px;
  text-align: center;
}

.border-bottom {
  border-bottom: solid 4px $text-color-grey;
}

.border-top {
  border-top: solid 4px $text-color-grey;
}

.border-right {
  border-right: solid 4px $text-color-grey;
}

.border-left {
  border-left: solid 4px $text-color-grey;
}

.token {
  font-size: 96px;
}

.game-button {
  margin: 25px auto;
}

.game-button-container {
  width: 500px;
}

.login-button-container {
  width: 350px;
}

.btn-select-game {
  margin-top: 20px;
}

.your-turn {
  text-align: center;
}

.stat-header {
  text-align: center;
}

.navbar-inverse {
  background-color: $red-sox-blue;
}

.vs {
  margin: 20px;
}

.btn-primary {
  background-color: $red-sox-blue;

  &:hover {
    background-color: $red-sox-red;
  }
}

.select-team {
  border: solid 1px $text-color-grey;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.tiny-icon {
  float: right;
  height: 5%;
  width: 5%;
}

.title {
  cursor: pointer;
  height: 5%;
  margin-bottom: auto;
  margin-top: auto;
  width: 5%;
}

.logo-token {
  height: 50%;
  margin-bottom: auto;
  margin-top: auto;
  width: 50%;
}

.instruction-container {
  display: flex;
  justify-content: center;
}

.instructions {
  margin-top: 50px;
}

.title-container {
  align-content: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media(max-width: 414px) {
  .title {
    height: 15%;
    margin-bottom: auto;
    margin-top: auto;
    width: 15%;
  }

  .logo-instructions {
    margin-top: 0;
    text-align: center;
  }

  .instructions {
    margin-top: 10px;
  }

  .game-button {
    margin: 10px auto;
  }

  .game-button-container,
  .login-button-container {
    width: 300px;
  }

  .player-counter,
  .game-button-main {
    display: none;
  }

  .board {
    margin: auto;
    margin-top: 15px;
    width: 300px;
  }

  .token {
    font-size: 64px;
  }

  .box {
    height: 100px;
    text-align: center;
  }

  .counter {
    font-size: 16px;
  }

  .border-bottom {
    border-bottom: solid 1px $text-color-grey;
  }

  .border-top {
    border-top: solid 1px $text-color-grey;
  }

  .border-right {
    border-right: solid 1px $text-color-grey;
  }

  .border-left {
    border-left: solid 1px $text-color-grey;
  }
}
