$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$success-color: #008000;
$failure-color: #f00;

.success {
  background-color: $success-color;
}

.failure {
  background-color: $failure-color;
}
